@keyframes bounce-wave {
    0%,
    80%,
    100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}

/* The container for the dots */
div.dot-container {
    width: 100px;
    text-align: center;
}

/* Styling for the individual dot elements */
div.dot {
    width: 15px;
    height: 15px;
    background-color: #1a0add5c;
    border: 1px dotted;
    border-radius: 50%;
    display: inline-block;
    animation: bounce-wave 1.4s infinite ease-in-out both;
    margin: 0 4px;
}

/* Apply increasing animation delays to create the wave effect */
div.dot:nth-child(1) {
    animation-delay: -0.32s;
}

div.dot:nth-child(2) {
    animation-delay: -0.16s;
}

div.dot:nth-child(3) {
    animation-delay: 0s;
}
