:root {
  --box-shadow-color: #3e3e3e;
  --main-ft-color: #3a080d;
  --action-btn-bg-color: #b8b8b875;
  --features-bg-color: #ddddddc1;
  --open-bg-color: #0ecd0c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  src: url("./assets/fonts/JosefinSans-VariableFont_wght.ttf");
  font-family: josefin;
}
@font-face {
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-family: poppins;
}

body {
  font-family: poppins;
  color: var(--main-ft-color);
}

header {
  padding: 1.5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  box-shadow: 1px 0 4px 2px var(--box-shadow-color);
}

header > h1 {
  font-size: calc(1vw + 1.2rem);
  font-family: josefin;
}

section.actions {
  display: flex;
  justify-content: space-between;
}

section.actions > button {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  border: 1px solid;
  padding: 8px 10px;
  border-radius: 4rem;
  background-color: var(--action-btn-bg-color);
  color: var(--main-ft-color);
}

main {
  padding: 2rem 1rem;
}

div.scholarship {
  padding: 12px;
  box-shadow: 0 0.6px 0.5px var(--box-shadow-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

div.title > h2 {
  font-size: calc(0.9rem + 6px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.status {
  font-size: 0.8rem;
  padding: 4px 8px;
  border-radius: 16px;
}

span.status.open {
  background-color: var(--open-bg-color);
}

p.description {
  font-size: 0.9rem;
}

div.features {
  font-size: 0.9rem;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

div.features > span {
  background-color: var(--features-bg-color);
  padding: 4px 8px;
  border-radius: 16px;
}