:root {
  --box-shadow-color: #3e3e3e;
  --header-ft-color: #3a080d;
  --action-btn-bg-color: #d4d4d4da;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  src: url("./assets/fonts/JosefinSans-VariableFont_wght.ttf");
  font-family: josefin;
}
@font-face {
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-family: poppins;
}

body {
  font-family: poppins;
}

header {
  color: var(--header-ft-color);
  padding: 1.5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  box-shadow: 1px 0 4px 2px var(--box-shadow-color);
}

header > h1 {
  font-size: calc(1vw + 1.2rem);
  font-family: josefin;
}

section.actions {
  display: flex;
  justify-content: space-between;
}

section.actions > div {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  border: 1px solid;
  padding: 5px 10px;
  border-radius: 4rem;
  background-color: var(--action-btn-bg-color);
}