:root {
  --box-shadow-color: #3e3e3e;
  --main-ft-color: #3a080d;
  --action-btn-bg-color: #b8b8b875;
  --features-bg-color: #ddddddc1;
  --open-bg-color: #0ecd0c;
  --upcoming-bg-color: #3ba0ffca;
  --closed-bg-color: #fa4343d9;
  --apply-link-bg-color: #e4834bc5;
  --body-bg-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  src: url("./assets/fonts/JosefinSans-VariableFont_wght.ttf");
  font-family: josefin;
}
@font-face {
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-family: poppins;
}

body {
  font-family: poppins;
  color: var(--main-ft-color);
  background-color: var(--body-bg-color);
}

div#root {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header {
  padding: 1.5rem 1rem 8px 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--body-bg-color);
  border-bottom: 1px ridge;
}

header > h1 {
  font-size: calc(1vw + 1.2rem);
  font-family: josefin;
}

section.actions {
  display: flex;
  justify-content: space-between;
}

section.actions > button {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  border: 1px solid;
  padding: 8px 10px;
  border-radius: 4rem;
  background-color: var(--action-btn-bg-color);
  color: var(--main-ft-color);
  cursor: pointer;
}

main {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

div.scholarship {
  padding: 12px;
  box-shadow: 0 0.6px 0.5px var(--box-shadow-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

div.title > h2 {
  font-size: calc(0.9rem + 6px);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.status {
  font-size: 0.8rem;
  padding: 4px 8px;
  border-radius: 16px;
}

span.status.open {
  background-color: var(--open-bg-color);
}

span.status.upcoming {
  background-color: var(--upcoming-bg-color);
}

span.status.closed {
  background-color: var(--closed-bg-color);
}

p.description {
  font-size: 0.9rem;
}

div.features {
  font-size: 0.9rem;
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

div.features > span {
  background-color: var(--features-bg-color);
  padding: 4px 8px;
  border-radius: 16px;
}

a.apply:link {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  height: 40px;
  width: calc(100px + 2ch);
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border-radius: 1rem;
  position: relative;
  right: 0;
  cursor: pointer;
  background-color: var(--apply-link-bg-color);
  font-size: 0.9rem;
  font-weight: 600;
  border: 1px ridge;
  transition: all 0.2s;
}

a.apply:visited {
  background-color: #d9a98ec5;
}

a.apply:hover {
  border: 3px double;
  box-shadow: -0.4px -0.4px 0.4px var(--box-shadow-color);
}